# Sony PlayStation BIOS (user-supplied, not redistributable)
SCPH1001.BIN
SCPH*.BIN
scph*.bin

/target

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
